{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
Admin | Home
{% endblock %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="min-height: auto;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Admin Dashboard </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Admin Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Events</span>
              <span class="info-box-number">
                {{ total_events }}
                
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Tickets Booked</span>
              <span class="info-box-number">{{ total_tickets_booked }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Sales</span>
              <span class="info-box-number">{{ total_amount_received }}/-</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Top Event</span>
              <span class="info-box-number">{% if top_event %}
                <p>{{ top_event.event__title }} - {{ top_event.total_tickets }} </p>
            {% else %}
                <p>No tickets booked yet.</p>
            {% endif %}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <div class="card">



              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="row">
              <div class="col-md-6">
                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                    <h3 class="card-title">Direct Chat</h3>

                    <div class="card-tools">
                      <span title="3 New Messages" class="badge badge-warning"></span>
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-comments"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                      {% for message in messages %}
                      <!-- Message. Default to the left -->
                      <div class="direct-chat-msg {% if message.sender == request.user %}right{% endif %}">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-left {% if message.sender == request.user %}float-right{% else %}float-left{% endif %}">
                            {{ message.sender.username }}
                          </span>
                          <span class="direct-chat-timestamp {% if message.sender == request.user %}float-left{% else %}float-right{% endif %}">
                            {{ message.created_at|date:"M d, Y h:i A" }}
                          </span>
                        </div>
                        <!-- /.direct-chat-infos -->
                        {% if message.sender.is_superuser %}
                <!-- Display admin's profile picture from Profile model -->
                {% if message.sender.profile.profile_image %}
                    <img class="direct-chat-img" src="{{ message.sender.profile.profile_image.url }}" alt="User Image">
                {% else %}
                    <img class="direct-chat-img" src="{% static 'companypanel/dist/img/default-profile.png' %}" alt="Default User Image">
                {% endif %}
            {% else %}
                <!-- Display manager's profile picture from Company model -->
                {% if message.sender.company.profile_image %}
                    <img class="direct-chat-img" src="{{ message.sender.company.profile_image.url }}" alt="User Image">
                {% else %}
                    <img class="direct-chat-img" src="{% static 'companypanel/dist/img/default-profile.png' %}" alt="Default User Image">
                {% endif %}
            {% endif %}
                         
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          {{ message.body }}
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->
                      {% endfor %}
                      <!-- Message to the right -->
                      

                    </div>
                    <!--/.direct-chat-messages-->

                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                      <ul class="contacts-list">
                          {% for manager in chat_manager_users %}
                          <li class="d-flex align-items-center mb-2"> <!-- Added d-flex for flex layout and align-items-center for vertical alignment -->
                              <a href="{% url 'admin_chat' manager.id %}" class="d-flex align-items-center"> <!-- Make the anchor a flex container as well -->
                                  {% if manager.company.profile_image %}
                                      <img src="{{ manager.company.profile_image.url }}" alt="User Image" class="img-size-50 mr-3 img-circle" style="width: 50px; height: 50px;">
                                  {% else %}
                                      <img src="{% static 'companypanel/dist/img/default-profile.png' %}" alt="Default User Image" class="img-size-50 mr-3 img-circle" style="width: 50px; height: 50px;">
                                  {% endif %}
                                  <div class="contacts-list-info">
                                      <span class="contacts-list-name d-flex justify-content-between align-items-center" style="margin-right: 20px;">
                                          {{ manager.username }}
                                          <small class="contacts-list-date text-muted" style="margin-left: 70px;">{{ manager.last_message_date|date:"M d, Y" }}</small>
                                      </span>
                                      <span class="contacts-list-msg">{{ manager.last_message_subject }}</span>
                                  </div>
                                  <!-- /.contacts-list-info -->
                              </a>
                          </li>
                          {% endfor %}
                          <!-- End Contact Item -->
                      </ul>
                      <!-- /.contacts-list -->
                  </div>
                  
                    <!-- /.direct-chat-pane -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <form action="{% url 'adminsend_message' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control" required>
                            {% if selected_user %}
                              <input type="hidden" name="receiver_id" value="{{ selected_user.id }}"> <!-- Hidden field to pass the receiver's ID -->
                              {% endif %}
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-warning">Send</button> <!-- Changed type to submit -->
                            </span>
                        </div>
                    </form>
                </div>
                  <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
              </div>
              <!-- /.col -->

              <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Managers Board</h3>
                        <div class="card-tools">
                            <span class="badge badge-danger">{{ manager_users.count }} Managers</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="users-list clearfix">
                            {% for manager in manager_users %}
                            <li>
                                {% if manager.company.profile_image %}
                                    <img src="{{ manager.company.profile_image.url }}" alt="User Image" style="width: 60px; height: 60px;">
                                {% else %}
                                    <img src="{% static 'companypanel/dist/img/default-profile.png' %}" alt="Default User Image">
                                {% endif %}
                                <a class="users-list-name" href="#">{{ manager.username }}</a>
                                <span class="users-list-date">{{ manager.date_joined|date:"M d, Y" }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="{% url 'manager_list'%}">View All Managers</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!--/.card -->
            </div>
            <!-- /.col -->
            
            </div>
                      <!-- TABLE: LATEST EVENTS -->
<div class="card">
  <div class="card-header border-transparent">
      <h3 class="card-title">Upcoming Events</h3>

      <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
          </button>
      </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
      <div class="table-responsive">
          <table class="table m-0">
              <thead>
              <tr>
                  <th>Event ID</th>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Location</th>
                  <th>Status</th>
              </tr>
              </thead>
              <tbody>
                {% for event in upcoming_eventss %}
                <tr>
                    <td><a href="#">{{ event.id }}</a></td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.start_date|date:"M d, Y" }} - {{ event.end_date|date:"M d, Y" }}</td>
                    <td>{{ event.location }}</td>
                    <td><img src="{{ event.event_image.url }}" alt="{{ event.title }}" width="50"></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No upcoming events</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
      <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
      <a href="{% url 'adminadd_event' %}">Add New Event</a>
      <a href="{% url 'adminevent_list' %}" style="margin-left: 500px;">View All Events</a>
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->
</div>




          <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box mb-3 bg-warning">
              <span class="info-box-icon"><i class="fas fa-tag"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">latest events</span>
                <span class="info-box-number">{{ upcoming_events }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-success">
              <span class="info-box-icon"><i class="far fa-heart"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">completed events</span>
                <span class="info-box-number">{{  completed_events }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-danger">
              <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Blogs</span>
                <span class="info-box-number">{{ total_blogs }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-info">
              <span class="info-box-icon"><i class="far fa-comment"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">User</span>
                <span class="info-box-number">{{ total_users }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
  
  

            <!-- PRODUCT LIST -->
           <!-- PRODUCT LIST -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Recently Added Venues</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <ul class="products-list product-list-in-card pl-2 pr-2">
                  {% for venue in venues_list %}
                      <li class="item">
                          <div class="product-img">
                              {% if venue.venue_image %}
                                  <img src="{{ venue.venue_image.url }}" alt="Venue Image" class="img-size-50">
                              {% else %}
                                  <img src="{% static 'companypanel/dist/img/default-150x150.png' %}" alt="Default Venue Image" class="img-size-50">
                              {% endif %}
                          </div>
                          <div class="product-info">
                              <a href="#" class="product-title">
                                  {{ venue.name }}
                                  <span class="badge badge-info float-right">{{ venue.capacity }} People</span>
                              </a>
                              <span class="product-description">
                                  {{ venue.location }}
                              </span>
                          </div>
                      </li>
                  {% endfor %}
                  <!-- /.item -->
              </ul>
          </div>
          
            <!-- /.card-body -->
            <div class="card-footer text-center">
              <a href="{% url 'adminvenue_list' %}" class="uppercase">View All </a>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>


{% endblock %}