{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
Admin | Compose Message
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Compose</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
              <li class="breadcrumb-item active">Compose</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <a href="{% url 'admin_mailbox' %}" class="btn btn-primary btn-block mb-3">Back to Inbox</a>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Folders</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="#" class="nav-link">
                      <i class="fas fa-inbox"></i> Inbox
                      <span class="badge bg-primary float-right">{{ messages.count }}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin_sent_items' %}" class="nav-link">
                      <i class="far fa-envelope"></i> Sent
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin_deleted_messages' %}" class="nav-link">
                      <i class="far fa-file-alt"></i> Trash
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card card-primary card-outline bg-dark text-light">
              <div class="card-header">
                <h3 class="card-title">Compose New Message</h3>
              </div>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <input type="text" class="form-control bg-dark text-light" placeholder="To:" name="to">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control bg-dark text-light" placeholder="Subject:" name="subject">
                  </div>
                  <div class="form-group">
                    <textarea id="compose-textarea" class="form-control bg-dark text-light" style="height: 300px" placeholder="Message body" name="body"></textarea>
                  </div>
                  
                </div>

                <div class="card-footer">
                  <div class="float-right">
                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                  </div>
                  <button type="reset" class="btn btn-secondary"><i class="fas fa-times"></i> Discard</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}
