{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
Admin | Reset Password
{% endblock %}

{% block content %}

<div class="container" style="margin-left: 300px; margin-top: 100px;height: 100px;"></div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card" style="margin-bottom: 150px;">
                <div class="card-header">
                    <h3 class="card-title"> Reset Password for {{ username }} </h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-lg" style="width: 350px; height: 50px;">Reset Password</button><br>
                        <a href="{% url 'company_home' %}" >back to home</a><a href="{% url 'adminforgot_password' %}" style="margin-left: 100px;">forgot password</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>




{% if messages %}
    {% for message in messages %}
        <script>
            alert('{{ message }}')
        </script>
    {% endfor %}
{% endif %}

{% endblock %}